{{> head }}
    
    {{> navbar }}

      <div class="jumbotron bg-dark text-white">
        <h1 class="display-4">Hola {{ capitalizar nombre }}</h1>
        <p class="lead">Cualquier cosa</p>
        <hr class="my-4">
        <p>Cualquier cosa 2.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Ingresar</a>
      </div>

{{> footer }}